  <div class="container">
    
    {{#each blogs}}
  <div class="blog">
    <a href="/blogpost/{{this.slug}}"><h2>{{this.tittle}}</h2></a>
 
  </div>
   {{!-- {{this.tittle}} --}}
  {{/each}}


  </div>